.herons{
    width: 100%;
    height: 90vh;
}     

.image{
    width: 100%;
    height: 90vh;
    position: absolute;
    background: no-repeat center/auto url("../assets/home.png");
    z-index: 0;
    filter: blur(3px);
}

.section{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content:space-between;
    z-index: 1;
    width: 100%;
    height: 90vh;
    padding: 2rem;
}

h1{
    font: 400 3rem cursive;    
}

p{
    font: 900 2rem cursive;
}